* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100vh;
}
.colors {
  display: flex;
  gap: 10px;
}
.button1 {
  background-color: green;
  border: none;
  border-radius: 12px;
  width: 100px;
  height: 50px;
  font-weight: 800;
  font-size: 18px;
  border: 2px gray solid;
}
.colors :nth-child(2) {
  background-color: red;
  border: none;
  border-radius: 12px;
  width: 100px;
  height: 50px;
  font-weight: 800;
  font-size: 18px;
  border: 2px gray solid;
}
.button3 {
  background-color: blue;
  border: none;
  border-radius: 12px;
  width: 100px;
  height: 50px;
  font-weight: 800;
  font-size: 18px;
  border: 2px gray solid;
}
.random {
  border: none;
  border-radius: 12px;
  width: 100px;
  height: 50px;
  font-weight: 800;
  font-size: 18px;
  border: 2px gray solid;
}
