* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.button1 {
  background-color: green;
  border: none;
  border-radius: 12px;
  width: 100px;
  height: 50px;
  font-weight: 800;
  font-size: 18px;
  border: 2px gray solid;
}
.button2 {
  background-color: red;
  border: none;
  border-radius: 12px;
  width: 100px;
  height: 50px;
  font-weight: 800;
  font-size: 18px;
  border: 2px gray solid;
}
.button3 {
  background-color: blue;
  border: none;
  border-radius: 12px;
  width: 100px;
  height: 50px;
  font-weight: 800;
  font-size: 18px;
  border: 2px gray solid;
}
.button4 {
  border: none;
  border-radius: 12px;
  width: 100px;
  height: 50px;
  font-weight: 800;
  font-size: 18px;
  border: 2px gray solid;
}
